---
language: python
python: "2.7"

before_install:
  # Make sure everything's up to date.
  - sudo apt-get update -qq

install:
  # Install Ansible.
  - pip install ansible

  # Add ansible.cfg to pick up roles path.
  - "printf '[defaults]\nroles_path = ../' > ansible.cfg"

script:
  - ansible-playbook -i tests/inventory tests/test.yml --syntax-check
  # We'll add some commands to test the role here.

notifications:
    webhooks: https://galaxy.ansible.com/api/v1/notifications/
